:root{
    --main-color:#596D48;
    --logo-top-padding:15rem;
    --logo-height:7.5rem;
    --padding-right-container:10rem;
    --padding-left-container:2rem;
}
@font-face {
    font-family:norse-bold;
    src: url(assets/Norse-Bold.otf);
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    margin:0;
    padding:0;
}

main{
    min-height: 100vh;
    display: flex;
}

.left-container{
    width:max(30%,250px) ;
    background-color: var(--main-color);
    background-image:url(assets/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    padding-top:var(--logo-top-padding)
}

.logo-container{
    background-color: hsla(0, 0%, 0%,0.6);
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;

    padding:0.5rem;
}

.logo-container img{
    height: var(--logo-height)
}

.logo-container .odin-name{
    font-size:5rem;
    font-family: 'norse-bold',sans-serif;
}

.right-container{
    width: 100%;
    background-color: wheat;
}

form{
}
header{
    height:23.5rem;    
}

header p {
    font-size: 1.3rem; 
}
header p:first-child {
    padding: 10rem 46rem 0rem 3rem;
}
header p:nth-child(2){
    padding: 2rem 46rem 0rem 3rem;
}

.form-input-container{
    background-color: white;
}
.button-container,
.form-input-container
{
    padding-left:3rem;
}